*,
::before,
::after {
  vertical-align: baseline;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'Montserrat', sans-serif;
}

::selection {
}

body {
  padding: 0 10%;
}

header {
  margin: 5% 0 5% 0;
  display: flex;
  justify-content: space-between;
}

.rafyte_icon {
}

.external_nav {
  display: flex;
  justify-content: space-between;
}

.external_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333346;
  border: 1.5px solid #333346;
  border-radius: 3px;
  padding: 10px;
  margin: 0 0 0 5%;
  cursor: pointer;
  font-weight: 700;
  font-size: 80%;
  text-decoration: none;
  width: 13vw;
}

.external_link:visited {
  color: #333346;
}

.external_link:hover {
  animation: gradient 15s infinite;
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  color: white;
  border: 1.5px solid white;
  border-radius: 5px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.external_link__icon {
  height: 1.5em;
  margin-left: 2em;
  opacity: 0;
}

.external_link:hover .external_link__icon {
  opacity: 1;
}

.post_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post {
  position: relative;
  margin-bottom: 5vh;
  border-radius: 5px;
  height: 100%;
  width: 400px;
  padding: 0;
  cursor: pointer;
  color: #fafaff;
  -webkit-box-shadow: 0px 5px 12px 6px rgba(51, 51, 70, 0.2);
  -moz-box-shadow: 0px 5px 12px 6px rgba(51, 51, 70, 0.2);
  box-shadow: 0px 5px 12px 6px rgba(51, 51, 70, 0.2);
}

.post_header {
  position: absolute;
  top: 20px;
  left: 16px;
  opacity: 0;
  z-index: 20;
}

.post_title {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 10px;
}

.post_project {
  background: #fafaff;
  color: #333346;
  padding: 2px 7px;
  border-radius: 2px;
}

.post_subtitle {
  opacity: 0.4;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 15px;
}

.post_image--inactive,
.post_image--active {
  display: block;
  border-radius: 5px;
  width: 100%;
}

.post_image--active {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.post:hover .post_image--active,
.post:hover .post_header {
  opacity: 1;
}
