*,
::before,
::after {
  vertical-align: baseline;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'Montserrat', sans-serif;
}

::selection {
  background: #333346;
  color: #fafaff;
}

body {
  background: white;
  padding: 0 20%;
}

header {
  margin: 7% 0 5% 0;
  display: flex;
}

.external_links_container {
  display: flex;
  margin-bottom: 10%;
}

.external_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1.5px solid #333346;
  border-radius: 3px;
  padding: 10px;
  margin: 0 2% 0 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 80%;
  text-decoration: none;
  width: 20%;
}

.external_link:visited {
  color: #333346;
}

.external_link:hover {
  animation: gradient 15s infinite;
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  color: white;
  border: 1.5px solid white;
  border-radius: 5px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.external_link_subtext {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.external_link img {
  height: 1.5em;
  margin-left: 2em;
}

.post {
  margin-bottom: 10vh;
  cursor: pointer;
  font-weight: 700;
}

.post_title {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.post_role {
  background: #333346;
  color: #fafaff;
  padding: 2px 7px;
  border-radius: 2px;
}

.post_subtitle {
  opacity: 0.4;
  font-size: 1.2em;
}
